.imgCard{
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 45%;
    height: 200px;
    padding: 5px;
    margin: auto;
}

#profileCardParent{
    background-color: rgb(95, 218, 95);
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 5px;
}
.profileCard{
    background-color: rgb(79, 9, 170);
    margin: 3px;
}

.collapsCard{
    background-color: rgb(94, 91, 91);
}